.main {
  animation: animation .7s infinite ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.selectService {
  line-height: 1rem;
  height: 72px;
}

@keyframes animation {
  99% {
    overflow: hidden;
  }
  to {
    height: 468px;
    overflow: inherit;
  }
}