.main {
  animation: animation .7s infinite ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.labelColor {
  margin-right: 12px;
}

.point {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #eaeaea;
  margin: 0 12px;
  vertical-align: middle;
}

@keyframes animation {
  to {
    height: 194px;
  }
}